In [3]:
import pymongo
from pymongo import MongoClient

In [2]:
pymongo

In [5]:
client = MongoClient()
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [7]:
#DB取得
db = client.test_database 
#この形でも取得可能
# db = client['test-database']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database')

In [8]:
#格納されているドキュメントを取得
collection = db.test_collection
# collection = db['test-collection']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'test_collection')

In [46]:
#tutorialの中身を実施
db = client.primer

In [47]:
coll = db.dataset
coll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'primer'), 'dataset')

In [48]:
from datetime import datetime
#restaurantにドキュメントを挿入
#insert_manyも存在
result = db.restaurants.insert_one(
    {
        "address": {
            "street": "2 Avenue",
            "zipcode": "10075",
            "building": "1480",
            "coord": [-73.9557413, 40.7720266]
        },
        "borough": "Manhattan",
        "cuisine": "Italian",
        "grades": [
            {
                "date": datetime.strptime("2014-10-01", "%Y-%m-%d"),
                "grade": "A",
                "score": 11
            },
            {
                "date": datetime.strptime("2014-01-16", "%Y-%m-%d"),
                "grade": "B",
                "score": 17
            }
        ],
        "name": "Vella",
        "restaurant_id": "41704620"
    }
)

In [49]:
result.inserted_id

ObjectId('58df582c8cf4de9b6ecb5cfc')

In [50]:
#クエリを投げる
#カーソルの作成
cursor = db.restaurants.find()

In [51]:
count = 0
for document in cursor:
    print(document)
#     count +=1
#     if count >3:
#         break

{'_id': ObjectId('58df582c8cf4de9b6ecb5cfc'), 'address': {'street': '2 Avenue', 'zipcode': '10075', 'building': '1480', 'coord': [-73.9557413, 40.7720266]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17}], 'name': 'Vella', 'restaurant_id': '41704620'}

In [17]:
#抽出の時点でクエリを投げておく
cursor = db.restaurants.find({"borough": "Manhattan"})

In [19]:
for document in cursor:
    print(document)

{'_id': ObjectId('58df4fb78cf4de9b6ecb5cfb'), 'address': {'street': '2 Avenue', 'zipcode': '10075', 'building': '1480', 'coord': [-73.9557413, 40.7720266]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17}], 'name': 'Vella', 'restaurant_id': '41704620'}

In [20]:
cursor = db.restaurants.find({"address.zipcode": "10075"})
for document in cursor:
    print(document)

{'_id': ObjectId('58df4fb78cf4de9b6ecb5cfb'), 'address': {'street': '2 Avenue', 'zipcode': '10075', 'building': '1480', 'coord': [-73.9557413, 40.7720266]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17}], 'name': 'Vella', 'restaurant_id': '41704620'}

In [22]:
#  grades array contains an embedded document with a field grade equal to "B".
#gradeの中身がさらに細分化されていて、その中のgradeがBであるもの
# cursor = db.restaurants.find({"grades.grade": "B"})
cursor = db.restaurants.find({"address.street": "2 Avenue"})
for document in cursor:
    print(document)

{'_id': ObjectId('58df4fb78cf4de9b6ecb5cfb'), 'address': {'street': '2 Avenue', 'zipcode': '10075', 'building': '1480', 'coord': [-73.9557413, 40.7720266]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17}], 'name': 'Vella', 'restaurant_id': '41704620'}

In [24]:
#比較演算子を使ったクエリ
# cursor = db.restaurants.find({"grades.score": {"$gt": 30}})
cursor = db.restaurants.find({"grades.score": {"$lt": 10}})
for document in cursor:
    print(document)

In [44]:
#クエリ条件の連結
cursor = db.restaurants.find({"cuisine": "Italian", "address.zipcode": "10075"})
for document in cursor:
    print(document)

In [26]:
#or条件での抽出
cursor = db.restaurants.find(
    {"$or": [{"cuisine": "Italian"}, {"address.zipcode": "10075"}]})
for document in cursor:
    print(document)

{'_id': ObjectId('58df4fb78cf4de9b6ecb5cfb'), 'address': {'street': '2 Avenue', 'zipcode': '10075', 'building': '1480', 'coord': [-73.9557413, 40.7720266]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17}], 'name': 'Vella', 'restaurant_id': '41704620'}

In [27]:
#sort
cursor = db.restaurants.find().sort([
    ("borough", pymongo.ASCENDING),
    ("address.zipcode", pymongo.ASCENDING)
])
for document in cursor:
    print(document)

{'_id': ObjectId('58df4fb78cf4de9b6ecb5cfb'), 'address': {'street': '2 Avenue', 'zipcode': '10075', 'building': '1480', 'coord': [-73.9557413, 40.7720266]}, 'borough': 'Manhattan', 'cuisine': 'Italian', 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17}], 'name': 'Vella', 'restaurant_id': '41704620'}

In [31]:
#update
result = db.restaurants.update_one(
    {"name": "Juni"},
    {
        "$set": {
            "cuisine": "American (New)"
        },
        "$currentDate": {"lastModified": True}
    }
)
#該当する数を表示
print(result.matched_count)
#実際に修正した件数を表示
print(result.modified_count)

0
0

In [32]:
#埋め込まれた部分を修正
result = db.restaurants.update_one(
    {"restaurant_id": "41156888"},
    {"$set": {"address.street": "East 31st Street"}}
)
#該当する数を表示
print(result.matched_count)
#実際に修正した件数を表示
print(result.modified_count)

0
0

In [33]:
#複数項目をアップデート
result = db.restaurants.update_many(
    {"address.zipcode": "10016", "cuisine": "Other"},
    {
        "$set": {"cuisine": "Category To Be Determined"},
        "$currentDate": {"lastModified": True}
    }
)
#該当する数を表示
print(result.matched_count)
#実際に修正した件数を表示
print(result.modified_count)

0
0

In [34]:
#ドキュメントのアップデート
result = db.restaurants.replace_one(
    {"restaurant_id": "41704620"},
    {
        "name": "Vella 2",
        "address": {
            "coord": [-73.9557413, 40.7720266],
            "building": "1480",
            "street": "2 Avenue",
            "zipcode": "10075"
        }
    }
)
print(result.matched_count)
#実際に修正した件数を表示
print(result.modified_count)

1
1

In [35]:
#データの削除
result = db.restaurants.delete_many({"borough": "Manhattan"})
result.deleted_count

0

In [38]:
#全消し
# result = db.restaurants.delete_many({})
result.deleted_count

1

In [39]:
#ドキュメントを全て落とす
db.restaurants.drop()
result.deleted_count

1

In [52]:
#件数カウント
# db.collection.aggregate([<stage1>, <stage2>, ...])
cursor = db.restaurants.aggregate(
    [
        {"$group": {"_id": "$borough", "count": {"$sum": 1}}}
    ]
)
for document in cursor:
    print(document)

{'_id': 'Manhattan', 'count': 1}

In [53]:
#クエリを投げたものだけsumで件数を確認
cursor = db.restaurants.aggregate(
    [
        {"$match": {"borough": "Queens", "cuisine": "Brazilian"}},
        {"$group": {"_id": "$address.zipcode", "count": {"$sum": 1}}}
    ]
)
for document in cursor:
    print(document)

In [54]:
#インデックスの作成
db.restaurants.create_index([("cuisine", pymongo.ASCENDING)])

'cuisine_1'

In [55]:
#結合されたindex
import pymongo
db.restaurants.create_index([
    ("cuisine", pymongo.ASCENDING),
    ("address.zipcode", pymongo.DESCENDING)
])

'cuisine_1_address.zipcode_-1'