In [1]:
import pandas as pd

In [83]:
s = pd.read_csv("/Users/01017387/PycharmProjects/test/logs/debug.tsv",sep="\t",header=None)

In [84]:
s.columns = ["time","level","message","app_name","message_generated_line"]

In [85]:
s.head()

,time,level,message,app_name,message_generated_line
0,"2017-03-21 22:21:46,435",INFO,top_page_accessed,app.py,106
1,"2017-03-21 22:21:46,467",INFO,top_page_accessed,app.py,106
2,"2017-03-21 22:21:46,469",INFO,top_page_accessed,app.py,106
3,"2017-03-21 22:21:46,472",INFO,top_page_accessed,app.py,106
4,"2017-03-21 22:21:46,475",INFO,top_page_accessed,app.py,106

In [86]:
s.shape

(39, 5)

In [87]:
s["time"] = pd.to_datetime(s["time"])

In [88]:
s["year"] = s["time"].apply(lambda x:x.year)
s["month"] = s["time"].apply(lambda x:x.month)
s["day"] = s["time"].apply(lambda x:x.day)
s["hour"] = s["time"].apply(lambda x:x.hour)
s["minute"] = s["time"].apply(lambda x:x.minute)
s["second"] = s["time"].apply(lambda x:x.second)
s["micro_second"] = s["time"].apply(lambda x:x.microsecond)

In [90]:
s.tail()

,time,level,message,app_name,message_generated_line,year,month,day,hour,minute,second,micro_second
34,2017-03-21 22:49:00.606,INFO,top_page_accessed,app.py,106,2017,3,21,22,49,0,606000
35,2017-03-21 22:49:00.785,INFO,top_page_accessed,app.py,106,2017,3,21,22,49,0,785000
36,2017-03-21 22:49:00.933,INFO,top_page_accessed,app.py,106,2017,3,21,22,49,0,933000
37,2017-03-21 22:49:01.082,INFO,top_page_accessed,app.py,106,2017,3,21,22,49,1,82000
38,2017-03-21 22:49:06.574,INFO,top_page_accessed,app.py,106,2017,3,21,22,49,6,574000

In [70]:
#どこからアクセスがあったかのIP、ブラウザを取得したい
#
#同一IPからms秒単位で同じページにアクセスがあれば、F5アタックだと解釈
#

435000