In [27]:
# import rpy2
%load_ext rpy2.ipython

In [1]:
from functools import partial
from rpy2.ipython import html
html.html_rdataframe=partial(html.html_rdataframe, table_class="docutils")

In [2]:
from rpy2.robjects.packages import importr, data
datasets = importr('datasets')
mtcars_env = data(datasets).fetch('mtcars')
mtcars = mtcars_env['mtcars']

In [3]:
import rpy2.ipython.html
rpy2.ipython.html.init_printing()

In [10]:
from rpy2.robjects.lib.dplyr import DataFrame

In [11]:
dataf = (DataFrame(mtcars).
         filter('gear>3').
         mutate(powertoweight='hp*36/wt').
         group_by('gear').
         summarize(mean_ptw='mean(powertoweight)'))

dataf

R object with classes: ('tbl_df', 'tbl', 'data.frame') mapped to:
<DataFrame - Python:0x113d70548 / R:0x7ff4d93c9f80>
[FloatVector, FloatVector]
  gear: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x113d70848 / R:0x7ff4db9c86b0>
[4.000000, 5.000000]
  mean_ptw: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x113d6e088 / R:0x7ff4d93c9d50>
[1237.126650, 2574.033164]

In [12]:
from rpy2.robjects.lib.dplyr import (filter,
                                     mutate,
                                     group_by,
                                     summarize)

dataf = (DataFrame(mtcars) >>
         filter('gear>3') >>
         mutate(powertoweight='hp*36/wt') >>
         group_by('gear') >>
         summarize(mean_ptw='mean(powertoweight)'))

dataf

R object with classes: ('tbl_df', 'tbl', 'data.frame') mapped to:
<DataFrame - Python:0x113d6eb08 / R:0x7ff4db016a38>
[FloatVector, FloatVector]
  gear: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x113e60388 / R:0x7ff4d9a36180>
[4.000000, 5.000000]
  mean_ptw: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x113d70bc8 / R:0x7ff4d9cbff78>
[1237.126650, 2574.033164]

In [13]:
# Define a python function, and make
# it a function R can use through `rternalize`
from rpy2.rinterface import rternalize
@rternalize
def mean_np(x):
    import numpy
    return numpy.mean(x)

# Bind that function to a symbol in R's
# global environment
from rpy2.robjects import globalenv
globalenv['mean_np'] = mean_np

# Write a dplyr chain of operations,
# using our Python function `mean_np`
dataf = (DataFrame(mtcars) >>
         filter('gear>3') >>
         mutate(powertoweight='hp*36/wt') >>
         group_by('gear') >>
         summarize(mean_ptw='mean(powertoweight)',
                   mean_np_ptw='mean_np(powertoweight)'))

dataf

R object with classes: ('tbl_df', 'tbl', 'data.frame') mapped to:
<DataFrame - Python:0x113d6e888 / R:0x7ff4d89b5ec8>
[FloatVector, FloatVector, FloatVector]
  gear: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x113d6e708 / R:0x7ff4da425a38>
[4.000000, 5.000000]
  mean_ptw: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x113d6e588 / R:0x7ff4d8ad6378>
[1237.126650, 2574.033164]
  mean_np_ptw: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x113d6ee48 / R:0x7ff4da5a5640>
[1237.126650, 2574.033164]

In [14]:
from rpy2.robjects.lib.dplyr import StringInEnv
from rpy2.robjects import Environment
my_env = Environment()
my_env['mean_np'] = mean_np

dataf = (DataFrame(mtcars) >>
         filter('gear>3') >>
         mutate(powertoweight='hp*36/wt') >>
         group_by('gear') >>
         summarize(mean_ptw='mean(powertoweight)',
                   mean_np_ptw=StringInEnv('mean_np(powertoweight)',
                                           my_env)))

dataf

R object with classes: ('tbl_df', 'tbl', 'data.frame') mapped to:
<DataFrame - Python:0x113d6e508 / R:0x7ff4dbbf0368>
[FloatVector, FloatVector, FloatVector]
  gear: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x113d6ebc8 / R:0x7ff4d91608d8>
[4.000000, 5.000000]
  mean_ptw: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x113d6e848 / R:0x7ff4dbbac190>
[1237.126650, 2574.033164]
  mean_np_ptw: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x113d6e4c8 / R:0x7ff4dbbe5aa8>
[1237.126650, 2574.033164]

In [15]:
from rpy2.robjects.lib.dplyr import dplyr
# in-memory SQLite database broken in dplyr's src_sqlite
# db = dplyr.src_sqlite(":memory:")
import tempfile
with tempfile.NamedTemporaryFile() as db_fh:
    db = dplyr.src_sqlite(db_fh.name)
    # copy the table to that database
    dataf_db = DataFrame(mtcars).copy_to(db, name="mtcars")
    res = (dataf_db >>
           filter('gear>3') >>
           mutate(powertoweight='hp*36/wt') >>
           group_by('gear') >>
           summarize(mean_ptw='mean(powertoweight)'))
    print(res)
#

/Users/01017387/anaconda/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning:  エラー: RSQLite package required to connect to sqlite db

  warnings.warn(x, RRuntimeWarning)

RRuntimeError:  エラー: RSQLite package required to connect to sqlite db

In [20]:
import pandas.rpy.common as com
from rpy2.robjects import pandas2ri
from rpy2.robjects import r
pandas2ri.activate()
r.data('iris')

/Users/01017387/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: The pandas.rpy module is deprecated and will be removed in a future version. We refer to external packages like rpy2.
See here for a guide on how to port your code to rpy2: http://pandas.pydata.org/pandas-docs/stable/r_interface.html
  if __name__ == '__main__':

R object with classes: ('character',) mapped to:
<StrVector - Python:0x113d6efc8 / R:0x7ff4d8d08e38>
['iris']

In [22]:
# df_iris = pandas2ri.ri2py(r[name])
infert = com.load_data('infert')

In [23]:
infert.head()

  education   age  parity  induced  case  spontaneous  stratum  pooled.stratum
1    0-5yrs  26.0     6.0      1.0   1.0          2.0        1             3.0
2    0-5yrs  42.0     1.0      1.0   1.0          0.0        2             1.0
3    0-5yrs  39.0     6.0      2.0   1.0          0.0        3             4.0
4    0-5yrs  34.0     4.0      2.0   1.0          0.0        4             2.0
5   6-11yrs  35.0     3.0      1.0   1.0          1.0        5            32.0

In [24]:
r_dataframe = com.convert_to_r_dataframe(infert)

In [25]:
print(type(r_dataframe))

<class 'rpy2.robjects.vectors.DataFrame'>

In [29]:
print(r_dataframe)

NameError: name 'head' is not defined

In [28]:
%%R
head(r_dataframe$pooled.stratum)

 head(r_dataframe$pooled.stratum) でエラー:
   オブジェクト 'r_dataframe' がありません

/Users/01017387/anaconda/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning:  head(r_dataframe$pooled.stratum) でエラー:
   オブジェクト 'r_dataframe' がありません

  warnings.warn(x, RRuntimeWarning)