In [6]:
import IPython.core.getipython
from more_itertools import chunked
ip = IPython.core.getipython.get_ipython()
class ChunkedDataFrame:
    def __init__(self, *args): self.df, self.n, self.m = args
    def _repr_html_(self):
        return ('' if not isinstance(self.df, pd.DataFrame) else
            '\n'.join(self.df.iloc[:self.m, r]._repr_html_()
                      for r in chunked(range(self.df.shape[1]), self.n)))
def C_impl(self, args):
    return ChunkedDataFrame(_, *[int(i) for i in (args+' 12 5').split()[:2]])
def L_impl(self, args):
    print(list(_))
# if ip:
#     ip.define_magic('C', C_impl)
#     ip.define_magic('L', L_impl)
ip

In [7]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [8]:
import numpy as np, pandas as pd
a = pd.DataFrame(np.random.randint(0, 100, (3, 24)))
a

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
0,87,40,41,58,5,91,8,61,22,61,36,0,99,9,2,10,15,92,99,77,69,58,5,93
1,42,94,19,8,0,51,36,4,74,75,36,36,40,42,18,30,10,66,89,0,14,29,76,67
2,44,95,97,24,81,56,63,36,22,54,38,78,9,2,98,21,87,83,40,40,53,25,74,73

In [2]:
%C

ERROR:root:Line magic function `%C` not found.

In [10]:
import numpy as np
loops = np.array(list(range(11))) + 2
print(loops)
#数字をキー、df名をバリューとする辞書を作成して対応
# vals = [("a"+i) for i in loops] 
vals = [("a"+str(i)) for i in loops] 
print(vals)
# df_dicts = {key: value for (key, value) in zip(loops, vals)}

[ 2  3  4  5  6  7  8  9 10 11 12]
['a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a12']