In [1]:
!python -V
%load_ext rpy2.ipython

Python 3.5.2 :: Anaconda 4.2.0 (x86_64)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

/Users/01017387/anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Users/01017387/anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [4]:
%%R
library(rstan)

 library(rstan) でエラー:  ‘rstan’ という名前のパッケージはありません

/Users/01017387/anaconda/lib/python3.5/site-packages/rpy2/rinterface/__init__.py:185: RRuntimeWarning:  library(rstan) でエラー:  ‘rstan’ という名前のパッケージはありません

  warnings.warn(x, RRuntimeWarning)

In [8]:
a = pd.read_csv("/Users/01017387/Desktop/te.txt", delimiter="\t")
a

   150605   福岡県  DA  S006  2004  34  426029.4117647059   160000
0  141003  神奈川県  TO  S023  2000  11       4.655455e+05   360000
1  150102   奈良県  HO  S026  2001   4       4.275000e+05   270000
2  141003   群馬県  SZ  S002  2003  25       3.642800e+05   250000
3  150306   静岡県  LR  S006  2014   2       7.940000e+06  7700000
4  150501   大分県  TO  S149  2004   1       2.680000e+06  2680000
5  150605   富山県  MA  S015  2011   1       1.185000e+06  1185000
6  150206   大阪府  NI  S017  2012  10       9.604000e+05   631000
7  150403   東京都  DA  S012  2008  18       7.035000e+05   509000
8  150306   千葉県  TO  S057  2008  15       1.843733e+06  1460000

In [ ]:
#最適化コードの実行
# %run